.itemContainerRequested {
  margin-bottom: 10px;
}

.detailsContainerRequested {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}


.ContractItem p {
  margin: 0.3rem 0;
}


.buttonsStatusZero {
  display: flex;
}

.acceptButton {
  margin-right: 10px;  
}