.ContractItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content:center;
    width: 25%;
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    margin-top:1rem;
    padding: 1.2rem 1.3rem;
  }

.detailsContainerRequired {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detailsContainerRequested {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}


.ContractItem p {
  margin: 0.3rem 0;
}