


.container{
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid red;
  height: 4rem;
}
.nav-pills{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item, .navbar-brand{
  padding: 1rem;
  border: 1px solid black;
}

.nav-search{
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.dropdown-menu.show{
  margin-top: 16rem;
  border: 1px solid black;
}

.dropdown-item{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

