.card-container {
  background-color: rgb(0, 8, 70);
  margin: 0.5rem 0;
  padding: 0.9375rem 1.25rem;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  justify-content: left;
  color: #eee;
  align-items: center;
  margin-bottom: 1rem;
}

.card-description {
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.price {  
  display: flex;
  justify-content: end;
  width: 50%;
}

.card-container .picture {
  align-content: center;
}

.pet-container {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}