.card-container {
  font-size: 18.5px;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #eee;
  align-items: center;  
  margin-top: 2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

.picture-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 13%;

}

.card-description {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: black;
  
}

.price {  
  display: flex;
  justify-content: flex-end;
  width: 50%;
  color: black;
}

.card-container .picture {
  align-content: center;
}

.pet-container {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}

.pet-container img {
  width: 2.625rem;
  height: 2.625rem;
}

.details {
  width: 100%;
  height: 100px;
  background-color:  white;
  padding: 0 1.25rem 1rem 15rem;
  display: flex;
  flex-direction: row;

  color: black;

}

.detailsContainer{
  width: 100%;
  background-color:  white;
  display: flex;
  flex-direction: row;

  color: black;
}

.contactNbrContainer{
  width: 30%;
}

.contractButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  width: 70%;
  height:2.5rem;
}