.filter-container {
  background-color: #D6E6F2;
  margin-top: 1rem;
  padding:  1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.3125rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-container p {
  margin: 0;
}


.filters {
  background-color: #D6E6F2;
  border-radius: 0.3125rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}