.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #B9D7EA;
  margin-top: 500px;
  background-color: #B9D7EA;
  height: 4rem;
}

.footer-copyright{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2.5rem;
}
.footer-copyright p{
  margin-top: 1rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}