.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(165, 165, 165, 0.1);
}

.footer-copyright{
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(165, 165, 165, 0.1);
  padding-top: 2rem;
}
.footer-copyright p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}