.mainContent {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  gap: 2rem;
}

.petListHeader {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin:0;
  padding:0;

}


.petsListTitleConteiner{
  width: 20%;
}

.petListButtonContainer{
  margin-right:0;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

}