.profilePicture .picture-container .picture{
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 0.625rem;
}

.petList .mainContent {
  margin-left: 2%;
  margin-bottom: 1.5625rem;
}

.list-group-item:last-child {
  border-radius: 10px;
}

.worksListContainer {
  margin-bottom: 10px;
}